<div ng-controller="controEasyTeam as easyTeamCtrl">
    <div id="heading-breadcrumbs">
        <div class="container">
            <div class="row d-flex align-items-center flex-wrap">
                <div class="col-md-7">
                    <h1 class="h2">Shopping Cart</h1>
                </div>
                <div class="col-md-5">
                    <ul class="breadcrumb d-flex justify-content-end">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active">Shopping Cart</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="content" ng-init="easyTeamCtrl.scrollTop();">
        <div class="container">
            <div class="row bar">
                <div class="col-lg-6">
                    <p class="text-muted lead">You currently have {{easyTeamCtrl.ongetTotalItems()}} item(s) in your cart.</p>
                </div>
                <div class="col-lg-6">
                    <form>
                        <div class="form-group" style="margin-top: 5px">
                            <label for="fecha">
                                <h5>Date Service:</h5></label>
                            <input type="date" class="form-control" name="fecha" id="fecha" ng-model="easyTeamCtrl.fechaServicio" ng-change="easyTeamCtrl.onCambiarEstadoFecha()">
                            <span ng-show="easyTeamCtrl.fechaVali == false" style="color: red;"><b>THE DATE OF SERVICE IS REQUIRED</b></span>
                        </div>
                    </form>
                </div>
                <div id="basket" class="col-lg-12">
                    <div class="box mt-0 pb-0 no-horizontal-padding">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th><!--Image--></th>
                                        <th>Product</th>
                                        <th>Quantity</th>
                                        <th>Unit price</th>
                                        <th>Total Item</th>
                                        <th>Delete</th>
                                        <th>Number of days</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in easyTeamCtrl.dataCarrito">
                                        <td><a><img src="data:image/jpg;base64,{{x._data.imagen}}" alt="White Blouse Armani" class="img-fluid"></a></td>
                                        <td><a>{{x._name}}</a></td>
                                        <td><input type="number" class="form-control" ng-model="x._quantity" min="1"></td>
                                        <td>{{x._price | currency}}</td>
                                        <td>{{easyTeamCtrl.onGetTotal(x._quantity, x._price, x._data.num_days) | currency}}</td>
                                        <td><i class="fa fa-trash-o manito" ng-click="easyTeamCtrl.onRemoveItemById(x._id)"></i></td>
                                        <td><input type="number" class="form-control" ng-model="x._data.num_days" min="1"></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="5">Total</th>
                                        <th colspan="2">{{easyTeamCtrl.onTotalCost() | currency}}</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="box-footer d-flex justify-content-between align-items-center">
                            <div class="dropdown">
                                <a href="javascript: void(0)" class="btn btn-secondary mt-0 dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-chevron-left"></i> 
                                    Continue shopping
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item"><a class="dropdown-item" ui-sref="Paquetes">PACKAGES</a></li>
                                    <li class="dropdown-item"><a class="dropdown-item" ui-sref="ApartCasa">APARTMENTS AND HOUSE</a></li>
                                    <li class="dropdown-item"><a class="dropdown-item" ui-sref="YatesBotes">YACHTS AND BOAT'S</a></li>
                                    <li class="dropdown-item"><a class="dropdown-item" ui-sref="Carros">CARS</a></li>
                                </ul>
                            </div>
                            <div class="right-col">
                                <!-- <button class="btn btn-secondary"><i class="fa fa-recycle"></i> Empty Cart</button> -->
                                <button class="btn btn-template-outlined" ng-click="easyTeamCtrl.onGuardarCompra();">Proceed to checkout <i class="fa fa-chevron-right"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <section class="bar background-pentagon no-mb text-md-center">
                                <div class="container">
                                    <div class="heading text-center">
                                        <h3>You may also like these products</h3>
                                    </div>
                                    <!-- <p class="lead">We have worked with many clients and we always like to hear they come out from the cooperation happy and satisfied. Have a look what our clients said about us.</p> -->
                                    <!-- Carousel Start-->
                                    <ul class="owl-carousel testimonials list-unstyled equal-height">
                                        <li class="item" ng-repeat="x in easyTeamCtrl.arr">
                                            <div class="testimonial d-flex flex-wrap">
                                                <div class="text">
                                                    <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.</p>
                                                </div>
                                                <div class="bottom d-flex align-items-center justify-content-between align-self-end">
                                                    <div class="icon"><i class="fa fa-quote-left"></i></div>
                                                    <div class="testimonial-info d-flex">
                                                        <div class="title">
                                                            <h5>{{x.nombre}}</h5>
                                                            <p>CEO, TransTech</p>
                                                            <!-- <a ui-sref="Paquetes"></a> -->
                                                        </div>
                                                        <div class="avatar"><img alt="" src="img/person-1.jpg" class="img-fluid"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <!-- Carousel End-->
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>