<div ng-controller="controEasyTeam as easyTeamCtrl">
    <div id="heading-breadcrumbs">
        <div class="container">
            <div class="row d-flex align-items-center flex-wrap">
                <div class="col-md-7">
                    <h1 class="h2">PRODUCT DETAIL</h1>
                </div>
            </div>
        </div>
    </div>
    <div id="content">
        <div class="container">
            <section class="bar">
                <div class="row portfolio-project">
                    <div class="col-md-8 border">
                        <center>
                            <img ng-src="data:image/jpg;base64,{{easyTeamCtrl.detailtProduct.imagen}}" class="img-fluid image1" alt="">
                        </center>
                    </div>
                    <div class="col-md-4">
                        <div class="project-more">
                            <h4>Name</h4>
                            <p ng-bind="easyTeamCtrl.detailtProduct.nombre | uppercase"></p>
                            <h4>Capacity</h4>
                            <p ng-bind="easyTeamCtrl.detailtProduct.capacidad | uppercase"></p>
                            <h4>Cost</h4>
                            <p ng-bind="easyTeamCtrl.detailtProduct.valor | currency"></p>
                            <h4>description</h4>
                            <p ng-bind="easyTeamCtrl.detailtProduct.descripcion | uppercase"></p>
                            <button ng-hide="easyTeamCtrl.onValidarExistenciaProducto(easyTeamCtrl.detailtProduct.id)" class="btn btn-info" ng-click="easyTeamCtrl.onAddCart(easyTeamCtrl.detailtProduct)">Add to cart</button>
                            <span class="badge badge-primary" style="color: white;"  ng-show="easyTeamCtrl.onValidarExistenciaProducto(easyTeamCtrl.detailtProduct.id)">PRODUCT ADDED</span>
                        </div>
                    </div>
                </div>
            </section>

            <div class="row bar">
                <div class="col-md-12">
                    <div class="products-big">
                        <div class="row products">
                            <div class="col-lg-3 col-md-4" ng-repeat="x in easyTeamCtrl.galeryProduct">
                                <div class="product">
                                    <div class="image">
                                        <a href="">
                                            <img ng-src="{{x.imagen}}" alt="" class="img-fluid image1">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>