<toaster-container></toaster-container>
<div ng-controller="controEasyTeam as easyTeamCtrl">
    <div id="heading-breadcrumbs" ng-init="easyTeamCtrl.onBuscarYatesBotes();">
        <div class="container">
            <div class="row d-flex align-items-center flex-wrap">
                <div class="col-md-7">
                    <h1 class="h2">yachts and Boat's</h1>
                </div>
                <!-- <div class="col-md-5">
                    <ul class="breadcrumb d-flex justify-content-end">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active">Category Full</li>
                    </ul>
                </div> -->
            </div>
        </div>
    </div>
    <div id="content">
        <div class="container">
            <div class="row bar">
                <div class="col-md-3">
                    <!-- MENUS AND FILTERS-->
                    <div class="panel panel-default sidebar-menu">
                        <div class="panel-heading">
                            <h3 class="h4 panel-title">Categories</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="nav nav-pills flex-column text-sm category-menu">
                                <li class="nav-item manito">
                                    <a ui-sref="Paquetes" class="nav-link d-flex align-items-center justify-content-between">
                                        <span>PACKAGES</span>
                                    </a>
                                </li>
                                <li class="nav-item manito">
                                    <a ui-sref="ApartCasa" class="nav-link d-flex align-items-center justify-content-between">
                                        <span>APARTMENTS AND HOUSE</span>
                                    </a>
                                </li>
                                <li class="nav-item manito">
                                    <a ui-sref="Carros" class="nav-link d-flex align-items-center justify-content-between">
                                        <span>TRANSPORT</span>
                                    </a>
                                </li>
                                <li class="nav-item manito">
                                    <a class="nav-link d-flex align-items-center justify-content-between">
                                        <span>VIP SERVICE</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <p class="text-muted lead text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Minima exercitationem quas vero dolorum voluptatem reprehenderit, voluptatibus debitis
                        molestiae deserunt quos illum, aperiam adipisci qui officia ab ea necessitatibus quod quidem.</p>

                    <h1 class="h2 mt-5 mb-5">YACHTS</h1>
                    <mc-product array-product="easyTeamCtrl.listaYates"></mc-product>
                    <h1 class="h2 mt-5 mb-5">BOAT'S</h1>
                    <mc-product array-product="easyTeamCtrl.listaBotes"></mc-product>
                </div>
            </div>
        </div>
    </div>
</div>